.sidebar {
  background-color: #f3f3f3;
  width: 200px;
  height: inherit;
}

.sidebar ul {
  padding: 0;
  margin: 0;
  color: #007bff;
}

.sidebar a {
  display: block;
  padding: 10px;
  color: inherit;
  text-decoration: inherit;
  border-bottom: 1px solid #eaeaea;
}

.sidebar a.active,
.sidebar a:hover {
  background-color: #eaeaea;
  text-decoration: inherit;
  color: inherit;
}

.sidebar li:last-child a {
  border-bottom: 0;
}